services:
  app:
    build: .
    container_name: express-template
    ports:
      - 3000:3000
    env_file:
      - .env
    healthcheck:
      test: ['CMD', 'wget', '--no-verbose', '--tries=1', '--spider', 'http://localhost:3000/health']
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 5s
    restart: unless-stopped

  redis:
    image: redis:8.4-alpine
    container_name: redis
    env_file:
      - .env
    command: redis-server --requirepass ${REDIS_PASSWORD} --appendonly yes
    healthcheck:
      test: ['CMD', 'redis-cli', '-a', '${REDIS_PASSWORD}', 'ping']
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 5s
    restart: unless-stopped

    volumes:
      - redis-data:/data

volumes:
  redis-data:
    driver: local
