services:
  app:
    build: .
    container_name: express-template
    ports:
      - 3000:3000
    env_file:
      - .env
    healthcheck:
      test: ['CMD', 'wget', '--no-verbose', '--tries=1', '--spider', 'http://localhost:3000/health']
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 5s
    restart: unless-stopped
